@media (max-width: 700px) {
  .navbar {
    height: 640px;
    padding: map-get($padding, medium);
  }
  .navbar__container-upper {
    flex-direction: column;
    height: 85%;
  }

  .navbar-card {
    width: 127%;
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar__card-figure {
    width: 150px;
    height: 180px;
  }

  .myInfo-container {
    // @include flex-center;
    // flex-direction: column;
    text-align: center;
    margin-top: map-get($margin, large);
  }

  .myInfo-title {
    font-size: map-get($fs, medium) + 2;
  }

  .myInfo-subtitle {
    font-size: map-get($fs, small) + 2;
  }

  .list a {
    font-size: map-get($fs, small);
    padding: 0 map-get($padding, small);
  }

  .contact {
    justify-content: center;
  }

  .contact a img {
    width: 30px;
    margin: 0 map-get($margin, small) - 3;
    align-items: baseline;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
  }
  .about__info {
    width: 110%;
  }

  .about__skills {
    width: 150%;
  }

  .portfolio__figure {
    width: 140%;
    height: 108%;
  }
  .portfolio__paragraph {
    font-size: map-get($fs, small) - 3;
  }
}
