// colors

$color-light-gray: #f3f3f3;
$color-dark-gray: #d3d2d2;
$color-primary: #1b1e22;
$color-black: #1b1b1b;
$color-secondary: #2e4094;
$color-tertiary: #c75d20;
$color-notImportant: #7c7c7c;

// colors

//containers width

$width-containers: 72vw;

// margins

$margin: (
  small: 10px,
  medium: 20px,
  large: 30px,
  xl: 60px
);

// margins

// paddings

$padding: (
  small: 10px,
  medium: 20px,
  large: 30px,
  xl: 60px
);

// paddings

// font-sizes

$fs: (
  small: 16px,
  medium: 24px,
  large: 32px
);

// font-sizes
