section.about-container#about
   article.about__info
      h1.about__title Who am I?
      p.about__paragraph I am Full Stack JavaScript developer student who likes doing new and different things, who enjoys when challenged, who worries about being a better person every day, who wants to create and/or find solutions to the problems sorrounding us.
   article.about__skills
      h1.skills__title Skills
      .skill.html
         span 90%
      .skill.css
         span 80%
      .skill.js
         span 45%
      .skill.git
         span  70%
      .skill.bootstrap
         span  70%
      .skill.sass
         span 70%
      .skill.react
         span 40%
      .skill.node
         span  40%
      .skill.express
         span  50%
      .skill.docker
         span  45%
