footer.footer
   section.footer-container
      h3.footer__title Hope, peace and love ✌️
      span.footer__date= `${new Date().getMonth() + 1} / ${new Date().getDate()} / ${new Date().getFullYear()}`