body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f3f3f3;
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 90%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.error-container {
  width: 82vw;
  margin: 50px 0;
  margin-bottom: 30vh;
  padding: 20px 50px;
  background-color: #1b1e22;
  border-radius: 20px;
}

.error__title {
  font-size: 30px;
  color: #f3f3f3;
}

.error__subtitle {
  color: #f3f3f3;
}

.error__code {
  color: #f3f3f3;
}

.error__stack {
  color: #f3f3f3;
  font-size: 17px;
  padding: 15px 0;
  padding-left: 20px;
  border-left: 4px solid red;
  overflow: scroll;
}

.navbar {
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-color: #1b1e22;
  display: flex;
  justify-content: center;
}

.myInfo-title {
  margin: 0;
  margin-bottom: 5px;
  color: #f3f3f3;
  font-size: 1.4em;
  font-weight: bold;
}

.myInfo-subtitle {
  margin: 0;
  color: #f3f3f3;
  font-size: 1em;
  color: #7c7c7c;
}

.navbar-container {
  width: 72vw;
  height: 100%;
  padding: 0 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar__container-upper {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.navbar-card {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.navbar__card-figure {
  width: 80px;
  height: 95px;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.navbar__card-figure img {
  width: 130%;
  height: 140%;
  position: relative;
  top: -20px;
}

.myInfo-container {
  margin: 0 15px;
}

.list {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.list li {
  list-style: none;
  padding: 2px 6px;
  text-align: center;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list a {
  width: 80px;
  width: 100%;
  color: #f3f3f3;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
}

.list li:hover {
  background-color: #e6e1e11c;
}

.contact {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.contact a {
  margin-right: 10px;
  margin-top: 10px;
}

.contact a img {
  width: 22px;
}

.about-container {
  width: 72vw;
  height: 72%;
  display: flex;
  padding: 50px 0;
}

.about__info {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5%;
  box-sizing: border-box;
}

.about__skills {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about__title {
  font-size: 30px;
  color: #2e4094;
  font-weight: 700;
}

.about__paragraph {
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  margin: 0;
  font-weight: 500;
}

.skills__title {
  font-size: 30px;
  color: #1b1b1b;
  font-weight: 700;
}

.portfolio {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 25px 0;
}

.portfolio-container {
  width: 72vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio__title {
  width: 100%;
  margin: 0px;
  margin-top: 50px;
  padding: 30px 0;
  text-align: center;
  background-color: #1b1e22;
  color: #f3f3f3;
}

.card {
  width: 300px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px;
  border: 1px solid white;
  position: relative;
}

.portfolio__figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  overflow: hidden;
}

.portfolio__figure img {
  width: 100%;
}

.card__info {
  width: 90%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: -15%;
  background-color: #1b1e22;
  margin: 0;
  padding: 10px 0;
  border-radius: 5px;
}

.portfolio__card-title {
  margin: 0;
  color: #f3f3f3;
  font-size: 20px;
  font-weight: 900;
}

.portfolio__paragraph {
  padding: 0 10px;
  font-size: 15px;
  text-align: center;
  color: #f3f3f3;
}

.portfolio__btn {
  text-decoration: none;
  color: #f3f3f3;
  border: 1px solid #f3f3f3;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.portfolio__btn:hover {
  background-color: #e6e1e11c;
}

.home__btn {
  position: sticky;
  bottom: 10px;
}

.home__btn img {
  width: 40px;
  margin: 10px;
}

.skill {
  width: 80%;
  height: 22px;
  background-color: #d3d2d2;
  margin: 10px 0;
  font-size: 13px;
  position: relative;
  border-radius: 5px;
}

.before, .docker::before, .express::before, .node::before, .react::before, .sass::before, .bootstrap::before, .git::before, .js::before, .html::before, .css::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: inherit;
  text-align: center;
  font-size: 12px;
  padding: 5px 17px;
  background: #7c7c7c;
  color: #f3f3f3;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  z-index: 2;
  border-radius: 4px;
}

.span, .docker span, .express span, .node span, .react span, .sass span, .bootstrap span, .git span, .js span, .html span, .css span {
  position: absolute;
  left: 0;
  height: inherit;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #2e4094;
  border-radius: 5px;
  color: #f3f3f3;
  font-weight: bold;
}

.css {
  position: relative;
}
.css::before {
  content: "CSS3";
}
.css span {
  width: 80%;
}

.html {
  position: relative;
}
.html::before {
  content: "HTML5";
}
.html span {
  width: 90%;
}

.js {
  position: relative;
}
.js::before {
  content: "JavaScript";
}
.js span {
  width: 55%;
}

.git {
  position: relative;
}
.git::before {
  content: "Git";
}
.git span {
  width: 70%;
}

.bootstrap {
  position: relative;
}
.bootstrap::before {
  content: "Bootstrap";
}
.bootstrap span {
  width: 70%;
}

.sass {
  position: relative;
}
.sass::before {
  content: "Sass";
}
.sass span {
  width: 70%;
}

.react {
  position: relative;
}
.react::before {
  content: "ReactJS";
}
.react span {
  width: 45%;
}

.node {
  position: relative;
}
.node::before {
  content: "NodeJS";
}
.node span {
  width: 45%;
}

.express {
  position: relative;
}
.express::before {
  content: "ExpressJS";
}
.express span {
  width: 55%;
}

.docker {
  position: relative;
}
.docker::before {
  content: "Docker";
}
.docker span {
  width: 40%;
}

.footer {
  width: 100%;
  height: 90px;
  background-color: #1b1e22;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 72vw;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.footer__title {
  color: #f3f3f3;
  font-weight: 200;
  font-size: 14px;
}

.footer__date {
  color: #f3f3f3;
  font-size: 14px;
}

@media (max-width: 700px) {
  .navbar {
    height: 640px;
    padding: 20px;
  }

  .navbar__container-upper {
    flex-direction: column;
    height: 85%;
  }

  .navbar-card {
    width: 127%;
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar__card-figure {
    width: 150px;
    height: 180px;
  }

  .myInfo-container {
    text-align: center;
    margin-top: 30px;
  }

  .myInfo-title {
    font-size: 26px;
  }

  .myInfo-subtitle {
    font-size: 18px;
  }

  .list a {
    font-size: 16px;
    padding: 0 10px;
  }

  .contact {
    justify-content: center;
  }

  .contact a img {
    width: 30px;
    margin: 0 7px;
    align-items: baseline;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about__info {
    width: 110%;
  }

  .about__skills {
    width: 150%;
  }

  .portfolio__figure {
    width: 140%;
    height: 108%;
  }

  .portfolio__paragraph {
    font-size: 13px;
  }
}

/*# sourceMappingURL=main.css.map */
